/* Police */
body {
    font-family: 'Open-Sans', sans-serif;
    margin: 0px;
    background-color: #E1DFED;
}
/* Page */
#moncv {
    display: flex;
}

h1 {
    font: bold 2em "Open Sans", sans-serif;
    margin-bottom: 5px;
    text-transform: uppercase;
}

p, h3 {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 5px 0px 5px;
}

td {
    padding: 15px;
}
/* Header */
header img {
    border-radius: 100%;
    width: 50%;
    border: solid #45A355;
}

header aside {
    background-color: #5AD66F;
    margin-right: 5%;
    width: 30%;
}

header {
    display: flex;
    flex-wrap: wrap;
}
/* Titre*/
.titrenom {
    color: #5AD66F;
}

.titreprenom {
    font-weight: lighter;
}

#titre {
    margin-bottom: 50px;
}

    #titre p {
        font-size: 1.3em;
    }

.stitre {
    text-decoration: underline #5AD66F;
}
/* Liseret */
#liseret {
    display: flex;
    flex-direction: column;
    background-color: #5AD66F;
    margin-right: 5%;
    width: 30%;
}

    #liseret h3 {
        padding: 15px;
        margin-bottom: 16px;
        background-color: #404040;
        color: #5AD66F;
        text-transform: uppercase;
        text-align: center;
        font-weight: lighter;
        font-size: 1.5em;
    }

    #liseret p {
        padding: 16px 16px 50%;
    }

.photo {
    margin-top: 25px;
    padding: 5%;
    text-align: center;
}

#liseret img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: solid #DAAF12;
}

#liseret ul {
    list-style-type: none;
    padding: 0px 16px;
}

#liseret li {
    margin: 10px 0px;
}

.loisirs {
    padding: 50px;
    font-size: 50px;
    color: #5AD66F;
    display: flex;
    justify-content: space-around;
    text-shadow: -2px 0 #404040, 0 2px #404040, 2px 0 #404040, 0 -2px #404040;
}

    .loisirs i {
        border: 2px solid #404040;
        border-radius: 100%;
        padding: 3%;
    }
/* Contenu */
#contenu {
    width: 64%;
}

#categories {
    display: flex;
    align-items: center;
    border-bottom: solid #5AD66F;
}

    #categories i {
        font-size: 30px;
        color: #E1DFED;
        margin: 15px;
        text-shadow: -2px 0 #5AD66F, 0 2px #5AD66F, 2px 0 #5AD66F, 0 -2px #5AD66F;
    }

.date_cv {
    display: flex;
    justify-content: flex-start;
}

.fa-dot-circle {
    color: #5AD66F;
    margin: 0px 25px 0px 0;
}

.fa-circle {
    color: #5AD66F;
    font-size: 10px;
    margin: 0px 28px 0px 3px;
}
/* Petit Ecran */
@media screen and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }

        header aside {
            margin: 0px;
            width: 100%;
        }

    #titre {
        text-align: center;
    }

    #moncv {
        display: flex;
        flex-direction: column-reverse;
    }

    #contenu {
        width: auto;
    }

    #liseret {
        width: auto;
        margin: 0px;
    }

        #liseret p {
            padding: 16px;
        }
}
